h1 {
  color: #000080;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  margin: 0 0 0;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
}

.profession {
  color: #000080;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  display: block;
  position: relative;
  text-align: center;
  z-index: 1;
}

.profession:before {
  border-top: 1px solid #000080;
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  z-index: -1;
}

.profession span {
  background: #fdfdfd;
  padding: 0 10px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 28px;
  margin: 0 0 48px;
}

h2 {
  color: #000080;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  margin: 0 0 24px;
  padding: 20 30 0 30px;
  text-align: center;
  text-transform: uppercase;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: DodgerBlue;
}

.flex-item {
  color: #000080;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  line-height: 75px;
  background-color: #f1f1f1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  height: 600px;
  margin: 0 0 48px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.flex-item:hover {
  transform: scale(1.1);
  background-color: #a8e67f;
}

a {
  color: #000080;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
